apiVersion: v1
kind: Config
clusters:
  - cluster:
      server: http://10.162.223.18:8008/
    name: fed
  - cluster:
      server: http://10.162.223.18:8888/
    name: c1
  - cluster:
      server: http://10.162.207.54:8888/
    name: c2
users:
  - user:
      token:
      client-certificate:
      client-key:
    name: fed
contexts:
  - context:
      cluster: fed
    name: federation
  - context:
      cluster: c1
    name: c1
  - context:
      cluster: c2
    name: c2
current-context: federation
