apiVersion: v1
kind: Config
clusters:
  - cluster:
      server: http://xx.xx.xx.xx:8008/
    name: fed
  - cluster:
      server: http://xx.xx.xx.xx:8888/
    name: c1
  - cluster:
      server: http://yy.yy.yy.yy:8888/
    name: c2
users:
  - user:
      token:
      client-certificate:
      client-key:
    name: fed
contexts:
  - context:
      cluster: fed
    name: federation
  - context:
      cluster: c1
    name: c1
  - context:
      cluster: c2
    name: c2
current-context: fed
